@import "var.scss";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url(../img/BgIMage.png), lightgray 0px -0.827px / 179.034% 100.035% no-repeat;
    background-blend-mode: difference;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style-type: none;
}
.color {
    color: $main-yellow
}

.btn {
    display: inline-block;
    padding: 12px 40px;
    border-radius: 8px;
    background: $main-yellow;
    color: #FFF;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    line-height: 120%;
    &_invert {
        border: 1px solid $main-yellow;
        background: transparent;
        color: $main-yellow;
    }
}

.title {
    color: #FFFFFD;
    font-size: 64px;
    font-family: Canela;
    font-weight: 500;
    line-height: 120%;
}

.header {
    padding: 28px 0;
}

.wrap {
    max-width: calc(1290px + 20px);
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__list {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }
    &__link {
        color: $white-dissable-1;
        font-size: 16px;
        font-family: Inter;
        line-height: 160%;
        &:hover,
         :active {
            color: $main-white;
         }
    }
}

.nav-mobile {
    display: none;
}

.hero {
    font-size: 16px;
    font-family: Inter;
    & .wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__content {
        max-width: 544px;
        width: 100%;
    }
    &__subtitle {
        padding-top: 20px;
        
        line-height: 160%;
        color: $main-white;
    }
    &__btn-block {
        padding-top: 40px;
        display: flex;
        gap: 36px;
        align-items: center;
    }
    &__link {
        font-weight: 700;
        line-height: 120%;
        color: $white-stich;
    }
    &__stats {
        padding-top: 40px;
        display: flex;
        gap: 94px;
        & :last-child {
            border: 0;
        }
    }
    &__picture-block {
        max-width: 575px;
        width: 100%;
    }
    &__foto {
        width: 464px;
        height: 544px;
        margin: 0 auto;
    }
}

.stats {
    border-right: 1px solid $main-yellow;
    padding-right: 28px;
    &__number {
        color: #fff;
        margin-bottom: 8px;
        font-size: 48px;
        font-family: Canela;
        font-weight: 500;
        line-height: 120%;
    }
    &__text {
        color: $white-stich;
        font-size: 16px;
        font-family: Inter;
        line-height: 160%;
    }
}

.bid {
    padding: 20px;
    border-radius: 16px;
    border-top: 1px solid $main-yellow;
    background: #131E3A;
    box-shadow: 0px 9px 50px 0px rgba(23, 36, 65, 0.04);
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:480px) {
    .nav__list {
        display: none;
    }
    .nav-mobile {
        display:block;
        &__list {
            display: none;
            &.is-active {
                display: block;
                background-color: grey;
                position: fixed;
                z-index: 999;
                width: 100%;
                top: 0;
                left: 0;
                height: 100vh;
            }
        }
    }
        
}
