@font-face {
    font-weight: 700;
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Bold.otf");
}

@font-face {
    font-weight: 700;
    font-family: "Canela";
    src: url("../fonts/CanelaFamily/Canela-Medium-Trial.otf");
}

@import "var.scss";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/BgIMage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(9, 15, 29, 1);
    background-blend-mode: multiply;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style-type: none;
}
.coloring {
    color: $main-yellow;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    border-radius: 8px;
    background: $main-yellow;
    color: $main-white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    line-height: 120%;
    &_invert {
        border: 1px solid $main-yellow;
        background: transparent;
        color: $main-yellow;
        padding: 16px 40px;
    }
    &_header {
        height: 48px;
    }
    &_hero-content {
        height: 52px;
    }
    &_amazing {
        height: 54px;
    }
    &_bit {
        height: 52px;
    }
    &_card {
        height: 48px;
    }
}

.title {
    color: $white-stich;
    font-family: Canela;
    font-weight: 500;
    line-height: 120%;
    &_big {
        font-size: 64px;
        line-height: 120%;
    }
    &_medium {
        font-size: 48px;
    }
}

.header {
    padding: 28px 0;
}

.wrap {
    max-width: calc(1290px + 20px);
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

section {
    padding: 92px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__list {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }
    &__link {
        color: $white-dissable-1;
        font-size: 16px;
        font-family: Inter;
        line-height: 160%;
        &:hover,
         :active {
            color: $main-white;
         }
    }
}

.nav-mobile {
    display: none;
}

.title-block {
    &__subtitle {
        color: $white-stich;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin: 20px 0 40px;
    }
    &__btn-line {
        display: flex;
        gap: 36px;
        align-items: center;
    }
    &__link {
        font-weight: 700;
        line-height: 120%;
        color: $white-stich;
    }
}

.title-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 64px;
}

.hero {
    font-size: 16px;
    font-family: Inter;
    padding-top: 79px;
    & .wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding: 25px 0;
        max-width: 544px;
        width: 100%;
    }
    &__stats {
        padding-top: 72px;
        display: flex;
        flex-wrap: wrap;
        gap: 90px;
        & :last-child {
            border: 0;
        }
    }
    &__picture-block {
        max-width: 575px;
        width: 100%;
        position: relative;
        padding: 0 51px 93px 60px;
    }
    &__photo {
        max-width: 464px;
        width: 100%;
        // height: 544px;
    }
    &__circle {
        position: absolute;
        top: 30%;
        left: -38px;
    }
    &__svg {
        width: 82%;
    }
    &__circle-text {
        fill: $main-white;
        font-weight: 700;
        font-family: "Source Sans Pro";
        font-size: 16px;
    }
    &__circle-icon {
        position: absolute;
        top: 42%;
        left: 35%;
    }
}


.stats {
    border-right: 1px solid $main-yellow;
    padding-right: 28px;
    &__number {
        color: #fff;
        margin-bottom: 8px;
        font-size: 48px;
        font-family: Canela;
        font-weight: 500;
        line-height: 120%;
    }
    &__text {
        color: $white-stich;
        font-size: 16px;
        font-family: Inter;
        line-height: 160%;
    }
}

.bid {
    padding: 20px;
    border-radius: 16px;
    border-top: 1px solid $main-yellow;
    background: #131E3A;
    box-shadow: 0px 9px 50px 0px rgba(23, 36, 65, 0.04);
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 304px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    &__content {
        display: flex;
        justify-content: space-between;
        &.btn {
            padding: 16px 40px
        }
    }
    &__item-text {
        color: $main-yellow;
        margin-bottom: 8px;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
    &__item-number {
        color: #FFFFFD;
    }
}

.amazing {
    & .title {
            max-width: 506px;
            width: 100%;
            line-height: 133%;
        }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}

.card {
    width: 410px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    border-radius: 28px;
    border-top: 1px solid #D6EF0E;
    background: $background-4;
    font-family: Inter;
    font-weight: 700;
    line-height: 120%;
    color: $white-stich;
    &__naming {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    &__name {
        font-size: 24px;
        line-height: 120%;
    }
    &__price {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    &__number {
        font-size: 16px;
    }
    &__desc {
        display: flex;
        justify-content: space-between;
    }
    &__lang {
        color: #838382;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
    &__watch {
        margin-top: 4px;
        gap: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.create {
    & .wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    &__title-wrap {
        max-width: 426px;
        width: 100%;
    }
    &__pictures {
        position: relative;
        width: 740px;
        height: 559px;
    }
    &__pic1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 410px;
        height: 475px;
    }
    &__pic2 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 410px;
        height: 400px;
    }
}
.popular {
    & .title {
        max-width: 307px;
        width: 100%;
    }
    & .title-line {
        padding: 0 31px;
        align-items: center;
    }
}
.grid {
    display: grid;
    row-gap: 4.6%;
    grid-template-areas:    "a b c . d" 
                            "e f g . h";
    grid-auto-columns: 0.73fr 0.34fr 1fr 0.073fr 1fr;
    grid-auto-rows: auto;
    &__cell {
        display: flex;
        align-items: end;
        border-radius: 16px;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: relative;
        &_2 {
            grid-column: span 2;
            width: calc(100% - 5.77%);
            justify-self: right;
        }
        &_3 {
            grid-row: span 2;
            grid-column: 5;
        }
        &_4 {
            grid-column: span 2;
            width: calc(100% - 5.77%);
        }
    }
}
// .grid {
//     display: grid;
//     row-gap: 2.3%;
//     grid-template-areas: 
//         "A B C D E F G" 
//         "O P Q R S T U" ;
//     grid-auto-columns: 0.73fr 0.073fr 0.195fr 0.073fr 1fr 0.073fr 1fr;
//     grid-auto-rows: 311px 311px;
//     &__cell {
//         display: flex;
//         align-items: end;
//         padding: 0 0 24px 24px;
//         border-radius: 16px;
//         background-size: cover;
//         width: 100%;
//         &_1 {
//             background-image: url(../img/grid2.png);
//             grid-column: 1;
//         }
//         &_2 {
//             background-image: url(../img/grid3.png);
//             grid-column: 3 / 6;
//         }
//         &_3 {
//             background-image: url(../img/grid1.png);
//             grid-row: span 2;
//             grid-column: 7;
//         }
//         &_4 {
//             background-image: url(../img/grid4.png);
//             grid-column: 1 / 4;
//         }
//         &_5 {
//             background-image: url(../img/grid5.png);
//             grid-column: 5;
//         }
//     }
// }



.user {
    position: absolute;
    content: '';
    left: 24px;
    bottom: 24px;
    z-index: 2;
    display: flex;
    font-family: Inter;
    font-style: normal;
    color: $white-stich;
    gap: 12px;
    &__stat {
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
    }
    &__name {
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
    }
}

.subscribe {
    & .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__title-wrap {
        max-width: 520px;
        width: 100%;
    }
    &__pictures {
        position: relative;
        width: 100%;
        max-width: 630px;
        height: 458px;
    }
    &__pic1 {
        position: absolute;        
        top: 20px;
        left: 20px;
        width: 410px;
        height: 376px;
        // transform: rotate(-11.188deg);
        transform: scale(1.1);
    }
    &__pic2 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        width: 282px;
        height: 348px;
    }
}

.email-form {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    background: $background-4;
    padding: 4px 4px 4px 0;
    margin-right: 4px;
    & input {
        padding: 16px 24px;
        background-color: transparent;
        width: calc(100% - 160px);
        color: $white-dissable-1;
    }
}
.icon {
    width: 24px;
    height: 24px;
}

.footer {
    padding: 92px 0;
    color: $white-stich;
    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1253px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 48px;
        border-bottom: 1px solid $white-dissable;
    }
    &__desc {
        max-width: 272px;
        width: 100%;
        margin: auto 0;
    }
    &__text {
        margin-bottom: 24px;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
}

.social {
    &__row {
        display: flex;
        gap: 12px;
        & .icon {
            font-size: 24px;
        }
    }
    
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 94px;
    &__items-title {
        margin-bottom: 24px;
        color: $main-white;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
    &__item + .footer-list__item {
        margin-top: 8px;
    }
    &__item-link {
        color: $white-stich;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        &:hover {
            text-decoration: underline;
        }
    }

}

.copyright {
    margin: 48px 0 0 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $white-stich;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    &__list {
        display: flex;
        gap: 28px;
    }
    &__link {
        color: $white-stich;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
}
@media screen and (max-width:1280px) {
    .flex {
        &.wrap {
            justify-content: center;
        }
    }
    .subscribe .wrap {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
    }
        section,
        .hero,
        .footer {
            padding: 40px 0;
        }
    
    
        .title-block {
            margin: 30px 0;
        }
}


@media screen and (max-width:768px) {
    .footer__desc {
        text-align: center;
        margin: auto;
    }
    .social__row {
        display: flex;
        gap: 12px;
        margin: auto;
        justify-content: center;
        margin-bottom: 85px;
    }
}

@media screen and (max-width:480px) {
    section,
    .hero,
    .footer {
        padding: 30px 0;
    }
    section {
        text-align: center;
    }
    .nav__list {
        display: none;
    }
    .nav-mobile {
        display:block;
        &__list {
            display: none;
            &.is-active {
                display: block;
                background-color: $background-4;
                position: fixed;
                z-index: 999;
                width: 100vw;
                top: 0;
                left: 0;
                height: 100vh;
                padding: 20px;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 30px;
                    padding: 20px;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    .hero {
        &__stats {
            gap: 40px;
            justify-content: center;
            padding-top: 30px;
        }
        &__content {
            padding: 0 0 30px;
        }
        &__svg {
            display: none;
        }
    }
        
    .footer-list {
        justify-content: center;
        margin-top: 85px;
        gap: 85px;


    } 
    .social__row {
        justify-content: center;
    }
    .title-line {
        justify-content: center;
        gap: 30px;
    }
    .title-block__btn-line {
        justify-content: center;
    }

    .subscribe {
        &__pic1 {
            position: absolute;
            top: 0;
            left: -41px;
            height: 376px;
            transform: scale(0.6);
        }
        &__pic2 {
            transform: scale(0.7);
        }
    }
    .create__pic1 {
        // left: -55px;
        transform: scale(0.7);
    }
    .create__pic2{
        transform: scale(0.6);
        left: -50px;
    }
    .email-form {
        flex-direction: column;
        align-items: center;
        &_input {
            text-align: center;
        }
        & .btn {
            width: 100%;
        }
    }
        .grid {
            row-gap: 1.6%;
            grid-template-areas: unset;
            grid-auto-columns: unset;
            grid-auto-rows: unset;
            &_img{
                max-width: 100%;
                width: unset;
            }
            &__cell {
                justify-content: center;
                &_2 {
                    grid-column: unset;
                    width: unset;
                    justify-self: unset;
                }
    
                &_3 {
                    grid-row: unset;
                    grid-column: unset;
                }
    
                &_4 {
                    grid-column: unset;
                    width: unset;
                }
            }
        }
    section.subscribe {
        padding: 120px 0 70px;
    }
    .user {
        align-items: end;
        justify-content: center;
        right: 0;
        top: 0;
        &__info {
            text-align: justify;
        }
    }

}
