@font-face {
  font-weight: 700;
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.otf");
}
@font-face {
  font-weight: 700;
  font-family: "Canela";
  src: url("../fonts/CanelaFamily/Canela-Medium-Trial.otf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/BgIMage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(9, 15, 29);
  background-blend-mode: multiply;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.coloring {
  color: #D6EF0E;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  border-radius: 8px;
  background: #D6EF0E;
  color: #FFF;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  line-height: 120%;
}
.btn_invert {
  border: 1px solid #D6EF0E;
  background: transparent;
  color: #D6EF0E;
  padding: 16px 40px;
}
.btn_header {
  height: 48px;
}
.btn_hero-content {
  height: 52px;
}
.btn_amazing {
  height: 54px;
}
.btn_bit {
  height: 52px;
}
.btn_card {
  height: 48px;
}

.title {
  color: #FFFFFD;
  font-family: Canela;
  font-weight: 500;
  line-height: 120%;
}
.title_big {
  font-size: 64px;
  line-height: 120%;
}
.title_medium {
  font-size: 48px;
}

.header {
  padding: 28px 0;
}

.wrap {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

section {
  padding: 92px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.nav__link {
  color: rgba(255, 255, 253, 0.72);
  font-size: 16px;
  font-family: Inter;
  line-height: 160%;
}
.nav__link:hover,
.nav__link :active {
  color: #fff;
}

.nav-mobile {
  display: none;
}

.title-block__subtitle {
  color: #FFFFFD;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 20px 0 40px;
}
.title-block__btn-line {
  display: flex;
  gap: 36px;
  align-items: center;
}
.title-block__link {
  font-weight: 700;
  line-height: 120%;
  color: #FFFFFD;
}

.title-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
  margin-bottom: 64px;
}

.hero {
  font-size: 16px;
  font-family: Inter;
  padding-top: 79px;
}
.hero .wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero__content {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  max-width: 544px;
  width: 100%;
}
.hero__stats {
  padding-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
}
.hero__stats :last-child {
  border: 0;
}
.hero__picture-block {
  max-width: 575px;
  width: 100%;
  position: relative;
  padding: 0 51px 93px 60px;
}
.hero__foto {
  max-width: 464px;
  width: 100%;
  height: 544px;
}
.hero__circle {
  position: absolute;
  top: 30%;
  width: 172px;
  height: 172px;
  left: 0;
}
.hero__circle-text {
  fill: white;
  font-weight: 700;
  font-family: "Source Sans Pro";
  font-size: 16px;
}
.hero__circle-icon {
  position: absolute;
  top: 40%;
  left: 40%;
}

.stats {
  border-right: 1px solid #D6EF0E;
  padding-right: 28px;
}
.stats__number {
  color: #fff;
  margin-bottom: 8px;
  font-size: 48px;
  font-family: Canela;
  font-weight: 500;
  line-height: 120%;
}
.stats__text {
  color: #FFFFFD;
  font-size: 16px;
  font-family: Inter;
  line-height: 160%;
}

.bid {
  padding: 20px;
  border-radius: 16px;
  border-top: 1px solid #D6EF0E;
  background: #131E3A;
  box-shadow: 0px 9px 50px 0px rgba(23, 36, 65, 0.04);
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 304px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.bid__content {
  display: flex;
  justify-content: space-between;
}
.bid__content.btn {
  padding: 16px 40px;
}
.bid__item-text {
  color: #D6EF0E;
  margin-bottom: 8px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.bid__item-number {
  color: #FFFFFD;
}

.amazing .title {
  max-width: 506px;
  width: 100%;
  line-height: 133%;
}
.amazing__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 410px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  border-radius: 28px;
  border-top: 1px solid #D6EF0E;
  background: #131E3A;
  font-family: Inter;
  font-weight: 700;
  line-height: 120%;
  color: #FFFFFD;
}
.card__naming {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.card__name {
  font-size: 24px;
  line-height: 120%;
}
.card__price {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card__number {
  font-size: 16px;
}
.card__desc {
  display: flex;
  justify-content: space-between;
}
.card__lang {
  color: #838382;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.card__watch {
  margin-top: 4px;
  gap: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create .wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.create__title-wrap {
  max-width: 426px;
  width: 100%;
}
.create__pictures {
  position: relative;
  width: 740px;
  height: 559px;
}
.create__pic1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 410px;
  height: 475px;
}
.create__pic2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 400px;
}

.popular .title {
  max-width: 307px;
  width: 100%;
}
.popular .title-line {
  padding: 0 31px;
  align-items: center;
}

.grid {
  display: grid;
  gap: 30px;
  grid-auto-flow: dense;
  grid-template-areas: "grid__cell_1 grid__cell_2 grid__cell_3" "grid__cell_4 grid__cell_5 grid__cell_3";
}
.grid__cell {
  display: flex;
  align-items: end;
  padding: 0 0 24px 24px;
  border-radius: 16px;
  background: linear-gradient(2deg, rgba(19, 30, 58, 0.92) 0%, rgba(19, 30, 58, 0) 94.62%), lightgray -22.387px -35px/110.921% 105.368% no-repeat;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 311px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid__cell_1 {
  background-image: url(../img/grid2.png);
  grid-area: grid__cell_1;
  max-width: 300px;
  width: 100%;
}
.grid__cell_2 {
  background-image: url(../img/grid3.png);
  grid-area: grid__cell_2;
  margin-left: -2.5641025641vw;
}
.grid__cell_3 {
  background-image: url(../img/grid1.png);
  grid-area: grid__cell_3;
  height: 652px;
}
.grid__cell_4 {
  background-image: url(../img/grid4.png);
  grid-area: grid__cell_4;
}
.grid__cell_5 {
  background-image: url(../img/grid5.png);
  grid-area: grid__cell_5;
}

.user {
  display: flex;
  font-family: Inter;
  font-style: normal;
  color: #FFFFFD;
  gap: 12px;
}
.user__stat {
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.user__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

.subscribe .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.subscribe__title-wrap {
  max-width: 520px;
  width: 100%;
}
.subscribe__pictures {
  position: relative;
  width: 630px;
  height: 458px;
}
.subscribe__pic1 {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 376px;
  transform: scale(1.1);
}
.subscribe__pic2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 282px;
  height: 348px;
}

.email-form {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  background: #131E3A;
  padding: 4px 4px 4px 0;
  margin-right: 4px;
}
.email-form input {
  padding: 16px 24px;
  background-color: transparent;
  width: calc(100% - 160px);
  color: rgba(255, 255, 253, 0.72);
}

.icon {
  width: 24px;
  height: 24px;
}

.footer {
  padding: 92px 0;
  color: #FFFFFD;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1253px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  border-bottom: 1px solid #838382;
}
.footer__desc {
  max-width: 272px;
  width: 100%;
  margin: auto;
}
.footer__text {
  margin-bottom: 24px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.social__row {
  display: flex;
  gap: 12px;
}
.social__row .icon {
  font-size: 24px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 94px;
}
.footer-list__items-title {
  margin-bottom: 24px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.footer-list__item + .footer-list__item {
  margin-top: 8px;
}
.footer-list__item-link {
  color: #FFFFFD;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-list__item-link:hover {
  text-decoration: underline;
}

.copyright {
  margin: 48px 0 0 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #FFFFFD;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.copyright__list {
  display: flex;
  gap: 28px;
}
.copyright__link {
  color: #FFFFFD;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (max-width: 1024px) {
  section, .hero, .footer {
    padding: 52px 0;
  }
  .flex.wrap {
    justify-content: center;
  }
  .amazing__cards {
    justify-content: center;
    gap: 30px;
  }
  .title-block {
    margin: 30px 0;
  }
}
@media screen and (max-width: 480px) {
  section,
  .hero,
  .footer {
    padding: 30px 0;
  }
  section {
    text-align: center;
  }
  .nav__list {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .nav-mobile__list {
    display: none;
  }
  .nav-mobile__list.is-active {
    display: block;
    background-color: #131E3A;
    position: fixed;
    z-index: 999;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
  }
  .nav-mobile__list.is-active a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding: 20px;
    display: block;
    text-align: center;
  }
  .hero__stats {
    gap: 40px;
    justify-content: center;
    padding-top: 30px;
  }
  .hero__content {
    padding: 0 0 30px;
  }
  .footer-list {
    justify-content: center;
    margin-top: 94px;
  }
  .footer__desc {
    text-align: center;
  }
  .social__row {
    justify-content: center;
  }
  .title-line {
    justify-content: center;
    gap: 30px;
  }
  .title-block__btn-line {
    justify-content: center;
  }
  .subscribe__pic1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 376px;
    transform: scale(0.9);
  }
  .subscribe__pic2 {
    transform: scale(0.7);
  }
  .create__pic1 {
    top: 0;
    right: 0;
    height: 475px;
  }
}/*# sourceMappingURL=styles.css.map */